<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" id="bootstrap-css" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/styles/cssandjs/main.css}"/>
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/27e5faf518.js"></script>

    <title>ATM APPLICATION</title>
</head>
<body>

</body>


<!-- As a link -->
<div class="wrapper fadeInDown">
    <div id="menuContent">
        <div id="menuHeader" style="display: flex; justify-content: space-evenly">
            <div>
                <a class="home-button-link" th:href="@{/home}">
                    <i class="fa-solid fa-house fa-lg"></i>
                </a>
            </div>
            <div>
                <span>ATM Machine</span>
            </div>
            <div></div>

        </div>
        <span th:text="'Your balance is:'"></span>
        <div class="balance">
            <span th:text="${#numbers.formatDecimal(balance,1,2)}+'€'"></span>
        </div>
        <hr class="separator">
        <span th:text="${maxWithdrawAmmount != 0}?'Maximum withdrawal is':'Cannot withdraw money'"></span>
        <div class="balance" th:if="${maxWithdrawAmmount != 0}">
            <span th:text="${#numbers.formatDecimal(maxWithdrawAmmount,1,2)}+'€'"></span>
        </div>
    </div>
</div>

</html>