<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" id="bootstrap-css" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/styles/cssandjs/main.css}"/>
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/27e5faf518.js"></script>

    <meta charset="UTF-8">
    <title>ATM APPLICATION</title>
</head>
<body>
<div class="wrapper fadeInDown">
    <div th:if="${errorMessage!=null}">
        <div class="alert alert-danger" role="alert">
            <span th:text="${errorMessage}"></span>
        </div>
    </div>


    <div id="formContent">
        <div id="formHeader" style="display: flex; justify-content: space-evenly">
            <div>
                <a class="home-button-link" th:href="@{/home}">
                    <i class="fa-solid fa-house fa-lg"></i>
                </a>
            </div>
            <div>
                <span>ATM Machine</span>
            </div>
            <div></div>

        </div>
        <!-- Login Form -->
        <div th:if="${ammount==null}">
            <span th:text="${{var}}"></span>
            <form method="POST" modelAttribute="accountFormData" th:action="@{/balance}">
                <input class="fadeIn second" id="login" name="accountNumber" placeholder="Account Number" type="text">
                <input class="fadeIn third" id="password" name="pin" placeholder="PIN" type="password">
                <input class="fadeIn fourth" type="submit" value="Access account">
            </form>
        </div>
        <div th:unless="${ammount==null}">
            <form method="POST" modelAttribute="accountFormData"
                  th:action="@{/withdraw?ammount={ammount}(ammount=${{ammount}})}">
                <input class="fadeIn second" id="login" name="accountNumber" placeholder="Account Number" type="text">
                <input class="fadeIn third" id="password" name="pin" placeholder="PIN" type="password">
                <input class="fadeIn fourth" type="submit" value="Access account">
            </form>
        </div>
    </div>


</div>


</body>
</html>