<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" id="bootstrap-css" rel="stylesheet">
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/27e5faf518.js"></script>
    <link rel="stylesheet" th:href="@{/styles/cssandjs/main.css}"/>
    <title>ATM APPLICATION</title>
</head>
<body>

</body>


<div class="wrapper fadeInDown">
    <div th:if="${errorMessage!=null}">
        <div class="alert alert-danger" role="alert">
            <span th:text="${errorMessage}"></span>
        </div>
    </div>

    <div id="menuContent">
        <div id="menuHeader" style="display: flex; justify-content: space-evenly">
            <div>
                <a class="home-button-link" th:href="@{/home}">
                    <i class="fa-solid fa-house fa-lg"></i>
                </a>
            </div>
            <div>
                <span>ATM Machine</span>
            </div>
            <div></div>

        </div>
        <a class="navbar-brand fadeIn fourth menu-item" th:href="@{/login(operationType='balance')}">Check balance</a>
        <button class="btn btn-primary navbar-brand fadeIn fourth menu-item" data-target="#exampleModal"
                data-toggle="modal"
                type="button">Withdraw Money
        </button>
    </div>
</div>


<!-- Modal -->
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal" role="dialog"
     tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLabel">Withdraw Money</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <form id="moneywithdrawform" method="GET" th:action="@{/login}">
                    <input class="first" id="operationType" name="operationType" type="hidden" value="withdraw">
                    <label for="ammount">Please select desired amount(€) for withdrawal:</label>
                    <input class="first" id="ammount" name="ammount" placeholder="" type="number">
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                <button class="btn btn-primary" form="moneywithdrawform" type="submit">Confirm</button>
            </div>
        </div>
    </div>
</div>

</html>