<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" id="bootstrap-css" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/styles/cssandjs/main.css}"/>
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/27e5faf518.js"></script>

    <meta charset="UTF-8">
    <title>ATM APPLICATION</title>
</head>
<body>
<div class="wrapper fadeInDown">
    <div th:if="${errorMessage!=null}">
        <div class="alert alert-danger" role="alert">
            <span th:text="${errorMessage}"></span>
        </div>
    </div>


    <div id="formContent">
        <div id="menuHeader" style="display: flex; justify-content: space-evenly;margin-bottom:0px">
            <div>
                <a class="home-button-link" th:href="@{/home}">
                    <i class="fa-solid fa-house fa-lg"></i>
                </a>
            </div>
            <div>
                <span>ATM Machine</span>
            </div>
            <div></div>

        </div>


        <table class="table">
            <tr>
                <th scope="col">Note Value</th>
                <th scope="col">Quantity Received</th>
            </tr>
            <tr th:each="entry : ${money}">
                <td th:text="${entry.getKey().getValue()}">keyvalue</td>
                <td th:text="${entry.getValue()}">num</td>
            </tr>
        </table>

        <hr class="separator">
        <span th:text="'Your balance is:'"></span>
        <div class="balance">
            <span th:text="${#numbers.formatDecimal(balance,1,2)}+'€'"></span>
        </div>

    </div>
</div>


</body>
</html>